@namespace ArkUI.Components.DropdownMenu

<div
    role="menuitemcheckbox"
    id="@_itemId"
    tabindex="-1"
    aria-checked="@AriaChecked"
    aria-disabled="@(Disabled ? "true" : null)"
    data-ark-dropdown-menu-checkbox-item=""
    data-state="@DataState"
    data-disabled="@(Disabled ? "" : null)"
    data-highlighted="@(IsHighlighted ? "" : null)"
    @onclick="HandleClickAsync"
    @onmouseenter="HandleMouseEnterAsync"
    @onkeydown="HandleKeyDownAsync"
    @onkeydown:preventDefault
    @onkeydown:stopPropagation
    @attributes="AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent(new DropdownMenuCheckboxItemContext { Checked = Checked, Indeterminate = Indeterminate })
    }
</div>
