@namespace ArkUI.Components.DropdownMenu

<div
    role="menuitemradio"
    tabindex="-1"
    aria-checked="@IsSelected.ToString().ToLowerInvariant()"
    aria-disabled="@(Disabled ? "true" : null)"
    data-ark-dropdown-menu-radio-item=""
    data-state="@DataState"
    data-disabled="@(Disabled ? "" : null)"
    @onclick="HandleClickAsync"
    @attributes="AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent(new DropdownMenuRadioItemContext { Checked = IsSelected })
    }
</div>
