@namespace ArkUI.Components.DropdownMenu

<div
    data-ark-dropdown-menu-arrow=""
    style="position: absolute; width: @(Width)px; height: @(Height)px;"
    @ref="_elementRef"
    @attributes="AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <svg
            width="@Width"
            height="@Height"
            viewBox="0 0 @Width @Height"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <polygon
                points="0,0 @(Width/2),@Height @Width,0"
                fill="currentColor" />
        </svg>
    }
</div>
