@namespace ArkUI.Components.Select
@typeparam TValue where TValue : notnull

<div
    role="option"
    id="@Context.GetItemId(EffectiveKey)"
    aria-selected="@(IsSelected ? "true" : "false")"
    aria-disabled="@(Disabled ? "true" : null)"
    data-ark-select-item=""
    data-value="@EffectiveKey"
    data-label="@EffectiveLabel"
    data-state="@DataState"
    data-disabled="@(Disabled ? "" : null)"
    data-highlighted="@(IsHighlighted ? "" : null)"
    @onclick="HandleClickAsync"
    @onclick:preventDefault="@(!Disabled)"
    @onmouseenter="HandleMouseEnterAsync"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
