@namespace SummitUI

@if (Context.IsOpen || Context.IsAnimatingClosed)
{
    <div @ref="_elementRef"
         id="@Context.DialogId"
         role="alertdialog"
         aria-modal="@TrapFocus.ToString().ToLowerInvariant()"
         aria-labelledby="@Context.TitleId"
         aria-describedby="@Context.DescriptionId"
         data-state="@DataState"
         data-summit-alertdialog-content
         tabindex="-1"
         data-destructive="@(Context.Options.IsDestructive ? "" : null)"
         @attributes="AdditionalAttributes">
        @if (TrapFocus)
        {
            <SmFocusTrap IsActive="Context.IsOpen"
                       AutoFocus="true"
                       ReturnFocus="true"
                       InitialFocusSelector="@(Context.Options.IsDestructive ? "[data-summit-alertdialog-cancel]" : null)">
                @ChildContent
            </SmFocusTrap>
        }
        else
        {
            @ChildContent
        }
    </div>
}
