@namespace SummitUI

<div role="menuitemradio"
     id="@_itemId"
     tabindex="-1"
     aria-checked="@IsSelected.ToString().ToLowerInvariant()"
     aria-disabled="@(Disabled ? "true" : null)"
     data-summit-dropdown-menu-radio-item=""
     data-state="@DataState"
     data-disabled="@(Disabled ? "" : null)"
     data-highlighted="@(IsHighlighted ? "" : null)"
     @onclick="HandleClickAsync"
     @onmouseenter="HandleMouseEnterAsync"
     @onkeydown="HandleKeyDownAsync"
     @onkeydown:preventDefault
     @onkeydown:stopPropagation
     @attributes="AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent(new DropdownMenuRadioItemContext { Checked = IsSelected })
    }
</div>
