@namespace SummitUI

<CascadingValue Value="_context" IsFixed="false">
    <button type="button"
            role="switch"
            aria-checked="@(IsChecked ? "true" : "false")"
            data-state="@(IsChecked ? "checked" : "unchecked")"
            disabled="@Disabled"
            aria-disabled="@(Disabled ? "true" : null)"
            data-disabled="@(Disabled ? "" : null)"
            @onclick="HandleClick"
            @attributes="AdditionalAttributes">
        @ChildContent
    </button>
    @if (!string.IsNullOrEmpty(Name))
    {
        <input type="hidden"
               name="@Name"
               value="@(IsChecked ? (Value ?? "on") : "")"
               disabled="@Disabled"
               required="@Required" />
    }
</CascadingValue>
